:root{
  --backd-1: #ededed;
  --backd-2: #efefef;
  --backd-3: #ebebeb;
  --bordd-1: #d7d5d5;
  --bordd-2: #ccc;
  --bordd-3: #bbb;
  --txtd-0: #aaa;
  --txtd-1: #444;
  --txtd-2: #555;
  --txtd-3: #777;
  --backn-2: #191919;
  --backn-1: #151515;
  --backn-3: #101010;
  --bordn-0: #191919;
  --bordn-1: #2c2c2c;
  --bordn-2: #222;
  --bordn-3: #333;
  --txtn-1: #ccc;
  --txtn-2: #aaa;
  --txtn-3: #888;
  --g3: #6F628A;
  --g10: #B88A99;
  --colorr: #DBC7FF;  
}

.evg-cr-bx {width: 880px; height: 500px; margin: auto; position: relative; background: var(--g3); background: linear-gradient(to bottom left, var(--colorr) 0%, var(--g3) 100%); outline: 1px solid var(--colorr); outline-offset: 10px; overflow: hidden}

.evg-cr-circles {width: 150px; height: 460px; margin: 0px; padding: 20px}

.evg-cr-circles img {width: 100px; height: 100px; margin: 10px; border-radius: 100%; border: 10px solid #eee; outline: 1px solid var(--g3); outline-offset: 2px; margin-top: 15px; border-bottom: 10px solid var(--colorr)}

.evg-cr-caja {width: 670px; height: 460px; margin: -490px 0px 0px 180px; position: absolute; background: #eee; padding: 10px; outline: 1px solid var(--colorr); outline-offset: 2px; overflow: auto}

.evg-cr-caja::-webkit-scrollbar{background: #eee; width: 3px!important; border: none}

.evg-cr-caja::-webkit-scrollbar-thumb{background: var(--g3)!important; border: 1px solid transparent;}

.evg-caja-month {width: auto; height: auto; margin: -10px 0px 0px 30px; font-family: ballet; font-size: 50px; font-weight: 600; color: var(--g3)}

.evg-caja-line {width: 100px; height: 10px; margin: -30px 0px 0px 30px; background: var(--colorr)}

.evg-catemas {width: auto; height: auto; margin: 5px 0px 0px 0px; padding: 10px; background: #eee; display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(4, 1fr);
grid-column-gap: 2px;
grid-row-gap: 1px;}

.evg-temas {width: 320px; height: 90px; margin: auto; outline: 1px solid var(--bordd-1); margin-top: 5px; background: #e9e9e9; overflow: hidden; border-radius: 20px;}

.evg-tema-ic {width: 30px; height: 30px; margin: 20px 0px 0px 10px; font-size: 30px; color: var(--g3); position: absolute; background: #eee; padding: 10px; border-radius: 100%; text-align: center; outline: 1px solid #ddd}

.evg-tema-tit {width: 235px; height: auto; margin: 25px 0px 0px 65px; position: absolute; font-size: 13px; font-family: bodoni moda sc; line-height: 110%; padding: 5px; font-weight: bold; background: #eee; line-height: 100%; border-radius: 0px 20px 20px 0px}

.evg-tema-tit a {text-decoration: none; color: var(--g3)}

.evg-tema-datos {width: auto; height: auto; margin: 55px 0px 0px 67px; font-family: montserrat; font-size: 7px; text-transform: uppercase; color: #222; font-weight: 600}